@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  background-color: #3999b1;
  color: white;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
}

.main-container nav {
  position: relative;
  width: 100%;
}

.main-container nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem 10rem;
  width: 100%;
}

.main-container nav .navbar .logo {
  font-family: "Gochi Hand", cursive;
  font-size: 1.5rem;
  color: white;
}

.main-container nav .navbar .lib-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container nav .navbar .lib-box .lib-info {
  color: white;
  font-size: 0.75rem;
}

.main-container nav .navbar .lib-box .lib-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.main-container nav .navbar .lib-box .lib-btn .lib-btn__burger {
  position: relative;
  height: 100%;
  width: 5px;
  background: white;
  border-radius: 3px;
}

.main-container nav .navbar .lib-box .lib-btn .lib-btn__burger:before, .main-container nav .navbar .lib-box .lib-btn .lib-btn__burger:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 5px;
  background: white;
  border-radius: 3px;
}

.main-container nav .navbar .lib-box .lib-btn .lib-btn__burger:before {
  -webkit-transform: translateX(-8px);
          transform: translateX(-8px);
}

.main-container nav .navbar .lib-box .lib-btn .lib-btn__burger:after {
  -webkit-transform: translateX(12px) rotate(-20deg);
          transform: translateX(12px) rotate(-20deg);
}

.main-container nav .navbar .lib-box .lib-btn:hover .lib-btn__burger:after {
  -webkit-transform: translateX(8px) rotate(0deg);
          transform: translateX(8px) rotate(0deg);
}

.main-container h1 {
  font-family: "Baloo 2", cursive;
  font-weight: 300;
  font-size: 4rem;
}

.main-container .color-film {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  padding: 0.5rem;
  color: black;
  margin-bottom: 2.5rem;
}

.main-container .color-film .color-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 14rem;
  height: 14rem;
  background: #3999b1;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.main-container .color-film .color-square:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.main-container .color-film .color-square i.fa-eye-dropper {
  font-size: 2rem;
  pointer-events: none;
}

.main-container .color-film .text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
}

.main-container .color-film .text-box .label {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.main-container .color-film .text-box .name {
  margin-left: 0.5rem;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.9rem;
  cursor: pointer;
}

.main-container .add-btn {
  padding: 1rem 2rem;
  border: none;
  background: #374f9f;
  color: white;
  border-radius: 30px;
  margin-bottom: 5rem;
  cursor: pointer;
}

.main-container .add-btn:hover {
  background: #263464;
}

.main-container .add-btn:focus {
  outline: none;
}

.library-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.library-container .library {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  overflow: scroll;
  background: #141414;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: black;
}

.library-container .library .custom-color {
  padding: 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.library-container .library .custom-color .small-film {
  padding: 0.4rem;
  background: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.library-container .library .custom-color .small-film h4 {
  font-size: 0.9rem;
  pointer-events: none;
  margin: 0.25rem 0.25rem 0.25rem 0.25rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.library-container .library .custom-color .small-film .small-square {
  width: 7.5rem;
  height: 7.5em;
  pointer-events: none;
}

.library-container .library .custom-color .small-film:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.library-container .library .close-library {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: none;
  cursor: pointer;
  padding: 1rem;
  color: white;
}

.library-container .library .close-library:focus {
  outline: none;
}

.library-container .library .close-library i {
  font-size: 1.5rem;
}

.adjust-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.adjust-container .adjust-panel {
  position: relative;
  width: 27.5rem;
  height: 17.5rem;
  background: white;
  margin-left: 5rem;
  border-radius: 0.5rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adjust-container .adjust-panel .slider-box {
  width: 15rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.adjust-container .adjust-panel .slider-box input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 2.5rem;
  background-color: gray;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.adjust-container .adjust-panel .slider-box input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1rem;
  height: 3rem;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.adjust-container .adjust-panel .slider-box input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 1rem;
  height: 3rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.adjust-container .adjust-panel .slider-box input[type="range"]:focus {
  outline: none;
}

.adjust-container .adjust-panel .controls {
  margin-left: 2rem;
  width: 7.5rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.adjust-container .adjust-panel .controls .color-box {
  width: 100%;
  height: 5rem;
  background-color: #3999b1;
}

.adjust-container .adjust-panel .controls .color-name {
  width: 100%;
  color: #363636;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adjust-container .adjust-panel .controls .color-name span {
  position: relative;
  border-radius: 5px;
  margin-left: 1rem;
  width: 10rem;
  padding: 0 1rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.adjust-container .adjust-panel .controls .adjust-btn {
  font-size: 0.75rem;
  padding: 0.75rem;
  width: 100%;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.adjust-container .adjust-panel .controls .adjust-btn:focus {
  outline: none;
}

.adjust-container .adjust-panel .controls .adjust-btn:hover {
  background-color: white;
}

.adjust-container .adjust-panel .controls .generate {
  font-size: 1rem;
  padding: 0.65rem;
}

.copy-container,
.save-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.copy-container .copy-popup,
.save-container .copy-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  padding: 2rem;
  background: white;
  border-radius: 1rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

.copy-container .copy-popup h4,
.save-container .copy-popup h4 {
  font-size: 2rem;
}

.copy-container .save-popup,
.save-container .save-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  color: black;
  padding: 2rem 4rem;
  background: white;
  border-radius: 1rem;
}

.copy-container .save-popup .close-save,
.save-container .save-popup .close-save {
  background: none;
  padding: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 1.1rem;
  cursor: pointer;
}

.copy-container .save-popup .close-save:focus,
.save-container .save-popup .close-save:focus {
  outline: none;
}

.copy-container .save-popup .close-save:hover,
.save-container .save-popup .close-save:hover {
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
}

.copy-container .save-popup h3,
.save-container .save-popup h3 {
  margin: 1rem;
}

.copy-container .save-popup input[type="text"].save-name,
.save-container .save-popup input[type="text"].save-name {
  padding: 1rem 2rem;
  margin: 1rem;
  font-size: 1em;
}

.copy-container .save-popup .submit-save,
.save-container .save-popup .submit-save {
  padding: 1rem 2rem;
  border: none;
  background: #374f9f;
  color: white;
  border-radius: 30px;
  margin-bottom: 5rem;
  cursor: pointer;
  margin: 1rem;
}

.copy-container .save-popup .submit-save:hover,
.save-container .save-popup .submit-save:hover {
  background: #263464;
}

.copy-container .save-popup .submit-save:focus,
.save-container .save-popup .submit-save:focus {
  outline: none;
}

.copy-container.active,
.save-container.active,
.adjust-container.active,
.library-container.active {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.copy-container.active .copy-popup.active,
.save-container.active .copy-popup.active,
.adjust-container.active .copy-popup.active,
.library-container.active .copy-popup.active {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.copy-container.active .library.active,
.save-container.active .library.active,
.adjust-container.active .library.active,
.library-container.active .library.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media (max-width: 767.98px) {
  nav .navbar {
    padding: 2rem !important;
  }
  h1 {
    font-size: 3rem !important;
  }
  .library-container .library {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .adjust-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .adjust-container .adjust-panel {
    margin: 0;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .save-container .save-popup {
    padding: 1rem;
  }
  .save-container .save-popup input[type="text"].save-name {
    padding: 0.5rem;
  }
}

@media (max-width: 575.98px) {
  .adjust-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .adjust-container .adjust-panel {
    position: relative;
    width: 17.5rem;
    height: 100%;
    max-height: 30rem;
    background: white;
    margin: 0;
    border-radius: 0.5rem;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .adjust-container .adjust-panel .slider-box {
    width: 15rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .adjust-container .adjust-panel .slider-box input[type="range"] {
    width: 100%;
    height: 1.5rem;
    cursor: pointer;
    margin-bottom: 2rem;
  }
  .adjust-container .adjust-panel .slider-box input[type="range"]::-webkit-slider-thumb {
    width: 1rem;
    height: 2rem;
  }
  .adjust-container .adjust-panel .slider-box input[type="range"]::-moz-range-thumb {
    width: 1rem;
    height: 3rem;
  }
  .adjust-container .adjust-panel .slider-box input[type="range"]:focus {
    outline: none;
  }
  .adjust-container .adjust-panel .controls {
    width: 7.5rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0;
  }
  .adjust-container .adjust-panel .controls .color-box {
    width: 100%;
    height: 5rem;
    background-color: #3999b1;
    margin-bottom: 0.5rem;
  }
  .adjust-container .adjust-panel .controls .color-name {
    width: 100%;
    color: #363636;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
  }
  .adjust-container .adjust-panel .controls .color-name span {
    position: relative;
    border-radius: 5px;
    margin-left: 1rem;
    width: 10rem;
    padding: 0 1rem;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }
  .adjust-container .adjust-panel .controls .adjust-btn {
    font-size: 0.75rem;
    padding: 0.75rem;
    width: 100%;
    text-transform: uppercase;
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  .adjust-container .adjust-panel .controls .adjust-btn:focus {
    outline: none;
  }
  .adjust-container .adjust-panel .controls .adjust-btn:hover {
    background-color: white;
  }
  .adjust-container .adjust-panel .controls .generate {
    font-size: 1rem;
    padding: 0.65rem;
    margin-bottom: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */