@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap");

@mixin flex-cc() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-sbc() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin container-hidden() {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  opacity: 0;
}

@mixin blue-btn() {
  padding: 1rem 2rem;
  border: none;
  background: #374f9f;
  color: white;
  border-radius: 30px;
  margin-bottom: 5rem;
  cursor: pointer;
  &:hover {
    background: #263464;
  }
  &:focus {
    outline: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  background-color: #3999b1;
  color: white;
}

.main-container {
  @include flex-sbc();
  flex-direction: column;
  width: 100%;
  height: 100vh;
  //NAVIGATION
  nav {
    position: relative;
    width: 100%;
    .navbar {
      @include flex-sbc();
      padding: 2.5rem 10rem;
      width: 100%;
      .logo {
        font-family: "Gochi Hand", cursive;
        font-size: 1.5rem;
        color: white;
      }
      .lib-box {
        @include flex-cc();
        .lib-info {
          color: white;
          font-size: 0.75rem;
        }
        .lib-btn {
          @include flex-cc();
          width: 2rem;
          height: 2rem;
          margin-left: 1rem;
          cursor: pointer;
          transition: all 0.5s ease-in-out;
          .lib-btn__burger {
            position: relative;
            height: 100%;
            width: 5px;
            background: white;
            border-radius: 3px;
            &:before,
            &:after {
              content: "";
              position: absolute;
              height: 100%;
              width: 5px;
              background: white;
              border-radius: 3px;
            }
            &:before {
              transform: translateX(-8px);
            }
            &:after {
              transform: translateX(12px) rotate(-20deg);
            }
          }
          &:hover .lib-btn__burger:after {
            transform: translateX(8px) rotate(0deg);
          }
        }
      }
    }
  }
  //HERO
  h1 {
    font-family: "Baloo 2", cursive;
    font-weight: 300;
    font-size: 4rem;
  }
  .color-film {
    @include flex-sbc();
    flex-direction: column;
    background: white;
    padding: 0.5rem;
    color: black;
    margin-bottom: 2.5rem;
    .color-square {
      @include flex-cc();
      width: 14rem;
      height: 14rem;
      background: #3999b1;
      cursor: pointer;
      transition: transform 0.5s ease-in-out;
      &:hover {
        transform: scale(0.9);
      }
      i.fa-eye-dropper {
        font-size: 2rem;
        pointer-events: none;
      }
    }
    .text-box {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      margin-bottom: 2rem;
      .label {
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        text-transform: uppercase;
        font-weight: 700;
      }
      .name {
        margin-left: 0.5rem;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 0.9rem;
        cursor: pointer;
      }
    }
  }
  //ADD TO LIBRARY
  .add-btn {
    @include blue-btn();
  }
}

//LIBRARY
.library-container {
  @include container-hidden();
  transition: all 0.5s ease;
  .library {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    overflow: scroll;
    background: white;
    transform: translateX(100%);
    transition: all 0.5s ease;
    .close-library {
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      background: none;
      cursor: pointer;
      padding: 1rem;
      &:focus {
        outline: none;
      }
      i {
        font-size: 1.5rem;
      }
    }
  }
}

.adjust-container {
  @include container-hidden();
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: none;
  transform: translateY(0px);
  transition: all 0.5s ease;
  // opacity: 1;
  // pointer-events: all;
  .adjust-panel {
    position: relative;
    width: 27.5rem;
    height: 17.5rem;
    background: white;
    margin-left: 5rem;
    border-radius: 0.5rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .slider-box {
      width: 15rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      input[type="range"] {
        -webkit-appearance: none;
        width: 100%;
        height: 2.5rem;
        background-color: gray;
        border-radius: 0.5rem;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          width: 1rem;
          height: 3rem;
          background-color: white;
          border-radius: 5px;
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
        }
        &:focus {
          outline: none;
        }
      }
    }
    .controls {
      margin-left: 2rem;
      width: 7.5rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .color-box {
        width: 100%;
        height: 5rem;
        background-color: #3999b1;
      }
      .color-name {
        width: 100%;
        color: rgb(54, 54, 54);
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: 500;
        position: relative;
        display: flex;
        span {
          position: relative;
          border-radius: 5px;
          margin-left: 1rem;
          width: 10rem;
          padding: 0 1rem;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        }
        margin-bottom: 3rem;
      }
      .close-adjust {
        font-size: 0.75rem;
        padding: 0.75rem;
        width: 100%;
        text-transform: uppercase;
        border: 1px solid rgba(0, 0, 0, 0.11);
        border-radius: 5px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        &:focus {
          outline: none;
        }
        &:hover {
          background-color: white;
        }
      }
    }
  }
}

.copy-container,
.save-container {
  @include container-hidden();
  @include flex-cc();
  transition: all 0.5s ease;
  .copy-popup {
    @include flex-cc();
    color: black;
    padding: 2rem;
    background: white;
    border-radius: 1rem;
    transition: all 0.5s ease-in-out;
    transform: translateY(-2rem);
    h4 {
      font-size: 2rem;
    }
  }
  .save-popup {
    @include flex-sbc();
    flex-direction: column;
    position: relative;
    color: black;
    padding: 2rem 4rem;
    background: white;
    border-radius: 1rem;
    .close-save {
      background: none;
      padding: 1rem;
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      transition: all 0.5s ease;
      &:focus {
        outline: none;
      }
      &:hover {
        transform: rotateZ(-90deg);
      }
    }
    h3 {
      margin: 1rem;
    }
    input[type="text"].save-name {
      padding: 1rem 2rem;
      margin: 1rem;
      font-size: 1em;
    }
    .submit-save {
      @include blue-btn();
      margin: 1rem;
    }
  }
}
.copy-container.active,
.save-container.active,
.adjust-container.active,
.library-container.active {
  opacity: 1;
  pointer-events: all;
  transition: all 0.5s ease;
  .copy-popup.active {
    transform: translateY(0rem);
  }
  .library.active {
    transform: translateX(0%);
  }
}
